@font-face {
    font-family: 'Bebas Neue';
    src: url('../fonts/Bebas_Neue/BebasNeue-Regular.ttf');
}

@font-face {
    font-family: 'Open Sans Bold';
    src: url('../fonts/Open_Sans/OpenSans-Bold.ttf') ;
}

@font-face {
    font-family: 'Open Sans Regular';
    src: url('../fonts/Open_Sans/OpenSans-Regular.ttf');
}

.header {
background: radial-gradient(189.96% 61.18% at 50% 38.82%, rgba(255, 181, 72, 0) 0%, rgba(52, 44, 29, 0.80319) 73.22%, #08090A 99.74%), 
            url('../main-bg.jpg'); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-position-x: center;
  background-position-x: center;
  min-height: 100vh;
  max-width: 100%;
}

.header nav {
    font-family:"Open Sans Bold";
    font-size: 12px;
    letter-spacing: 1px;
}

.bg-nav {
    background: rgba(0, 0, 0, 0.637);
}

.a-hover:hover {
    color: #ffa600 !important;
}

.text-main {
    width: 100%;
    /* padding-top: 10%; */
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.6rem;
    font-family: 'Bebas Neue';
    margin-bottom: 30px;
}

.text-main-2 {
    width: 100%;
    text-align: center;
    font-family: Arial;
    font-size: 1.1rem;
    letter-spacing: 0.25em;
    margin-bottom: 3.9rem;
}

.header .h-button {
    font-family: 'Open Sans Bold';
    padding: 13px 90px !important;
    font-size: 14px !important;
}

.fs-story {
    font-family: "Open Sans Bold";
    font-size: 0.8em;
}

.section1 {
    background: radial-gradient(136.03% 54.57% at 50% 48.04%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 60.63%, #080A0B 99.74%), url('../the-games-bg.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position-x: center;
    background-position-x: center;
    height: 120vh;
    max-width: 100%;
}

.section1 h1, .section1 h3 {
    font-family: Arial, Helvetica, sans-serif;
}

.indicators-style {
    width: 0.8rem !important;
    height: 0.8rem !important;
}

.section2 {
    width: 100%;
    min-height: 130vh;
    background: radial-gradient(circle at right, #000, transparent), radial-gradient(circle at center, rgba(255, 255, 255, 0), transparent), radial-gradient(circle at left, rgba(0, 0, 0, 0.527), transparent), radial-gradient(ellipse at bottom, rgb(8, 8, 8), transparent),
     url('../features.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    font-family: Arial, Helvetica, sans-serif;
}

ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #FFFFFF;
    display: inline-block;
    position: absolute;
    left: -1px;
    top: 46px;
    width: 2px;
    min-height: 40%;
    z-index: 400;
}

ul.timeline > li {
    margin: 20px 0;
    /* padding-left: 50px; */
}
ul.timeline > li:before {
    content: ' ';
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 2px solid white;
    margin: 10px 0;
    left: -10px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

.timeline-body::before {
    background: #FFFFFF;
}

.timeline-body p {
    font-family: 'Open Sans Regular';
}

.sec2-f2 {
    letter-spacing: 0.3rem; 
    font-size: 3.5rem;
    margin-bottom: 2rem;
}

.sec2-fc {
    color: #FFB548;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
}

.section3 {
    background: radial-gradient(33.26% 45% at 64.32% 47.1%, rgba(255, 255, 255, 0) 3.36%, rgba(0, 0, 0, 0) 19.22%, #080A0B 99.74%), url('../requirements.png'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position-x: center;
    background-position-x: center;
    min-height: 130vh;
    max-width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.h-requirements {
    color: #FFB548;
    font-size: 2rem;
}

.p-requirements {
    font-family: "Open Sans Regular";
    color: #FFFFFF;
    font-size: 1rem;
    font-style: normal;
    font-weight:400;
}

.sec3-fs {
    font-size: 3.2rem;
    max-width: 40%;
    letter-spacing: 0.3rem;
}

.section4 {
    background: radial-gradient(70.52% 37.27% at 24.21% 47.47%, rgba(35, 15, 15, 0) 0%, rgba(0, 0, 0, 0) 51.1%, #080A0B 99.74%), url('../bg\ image\ 5.png'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position-x: center;
    background-position-x: center;
    min-height: 150vh;
    max-width: 100%;
}

.sec4-tops {
    width: 100%;
    max-width: 400px;
}

.sec4-fs {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.6rem;
}

.sec4-p {
    font-family: "Open Sans Regular";
}

.sec4-namecard {
    color:#FFB548;
    font-family: Arial, Helvetica, sans-serif;
}

.section5 {
    background:#080A0B;
    min-height: 100vh;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.sec5-fs {
    font-size: 2.8rem;
    letter-spacing: 0.3rem;
}

.sec5-p {
    font-family: 'Open Sans Regular';
}

.sec5-input {
    background: rgba(255, 255, 255, 0.08);
    border: none;
    width: 100%;
    color: #FFB548;
}

.sec5-input::placeholder {
    color: #FFB548;
}

.sec5-btn {
    width: 100%;
    border: none;
    font-family: "Open Sans Regular";
    font-size: 14px;
}

.footer {
    min-height: 20vh;
    background:#080A0B;
    font-family: "Open Sans Bold";
    font-size: 0.9rem;
}

.footer a {
    text-decoration: none;
}

@media only screen and (max-width: 792px) { 
    .story {
        position: relative !important;
    }
}

@media only screen and (max-width: 576px) {
    .story {
        position: relative !important;
    }

    .text-main {
        font-size: 3.2rem;
    }

    .text-main-2 {
        font-size: 0.9rem;
    }

    .sec2-f2 {
        font-size: 3.5em;
    }

    ul.timeline:before {
        left: 9px;
    }

    ul.timeline > li:before {
        left: 0px;
    }

    .sec3-fs {
        font-size: 9vw;
        max-width: 100%;
    }

    .sec5-h4 {
        max-width: 500px !important;
    }

    .sec5-fs {
        font-size: 9.5vw;
    }
}

@media only screen and (max-width: 414px) {
    .text-main {
        font-size: 2.6rem;
    }

    ul.timeline:before {
        left: 9px;
        height: 46%;
    }
}

@media only screen and (max-width: 373px) {
    .h-button {
        width: 100% !important;
        padding: 0 !important;
    }

    .sec2-f2 {
        font-size: 2.7em;
    }

    ul.timeline:before {
        left: 9px;
        height: 50%;
    }

    .sec4-fs {
        font-size: 2.7rem;
    }

    .tb-h2 {
        font-size: 1rem;
    }

    .tb-p {
        font-size: 0.8rem;
    }

    .footer-top {
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
    }

    .footer-bottom {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

@media only screen and (max-width: 294px) {
    .text-main {
        font-size: 2em;
    }

    .header .h-button {
        padding: 5px !important;
        width: 100%;
    }
    
    .sec2-f2 {
        font-size: 2em;
    }
    
    ul.timeline:before {
        left: 9px;
        height: 54%;
    }
}

